# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/src/eduke32/build/vc100.pdb
/src/eduke32/eduke32.exe.manifest
/src/eduke32/eduke32.log
/src/eduke32/eduke32.map
/src/eduke32/eduke32.opensdf
/src/eduke32/eduke32.pdb
/src/eduke32/eduke32.sdf
/src/eduke32/eduke32.vcxproj.user
/src/eduke32/mapster32.exe.manifest
/src/eduke32/mapster32.map
/src/eduke32/mapster32.pdb
/src/eduke32/source/enet/vc100.pdb
/src/eduke32/source/eobj_win/a.obj
/src/eduke32/source/eobj_win/baselayer.obj
/src/eduke32/source/eobj_win/build.obj
/src/eduke32/source/eobj_win/cache1d.obj
/src/eduke32/source/eobj_win/compat.obj
/src/eduke32/source/eobj_win/config.obj
/src/eduke32/source/eobj_win/crc32.obj
/src/eduke32/source/eobj_win/defs.obj
/src/eduke32/source/eobj_win/dxtfilter.obj
/src/eduke32/source/eobj_win/engine.obj
/src/eduke32/source/eobj_win/glbuild.obj
/src/eduke32/source/eobj_win/hightile.obj
/src/eduke32/source/eobj_win/kplib.obj
/src/eduke32/source/eobj_win/lzwnew.obj
/src/eduke32/source/eobj_win/mdsprite.obj
/src/eduke32/source/eobj_win/mutex.obj
/src/eduke32/source/eobj_win/osd.obj
/src/eduke32/source/eobj_win/overrides.mak
/src/eduke32/source/eobj_win/polymer.obj
/src/eduke32/source/eobj_win/polymost.obj
/src/eduke32/source/eobj_win/pragmas.obj
/src/eduke32/source/eobj_win/quicklz.obj
/src/eduke32/source/eobj_win/rawinput.obj
/src/eduke32/source/eobj_win/scriptfile.obj
/src/eduke32/source/eobj_win/smalltextfont.obj
/src/eduke32/source/eobj_win/startwin.editor.obj
/src/eduke32/source/eobj_win/texcache.obj
/src/eduke32/source/eobj_win/textfont.obj
/src/eduke32/source/eobj_win/winbits.obj
/src/eduke32/source/eobj_win/winlayer.obj
/src/eduke32/source/jaudiolib/vc100.pdb
/src/eduke32/source/obj_win/actors.obj
/src/eduke32/source/obj_win/actors_inline.obj
/src/eduke32/source/obj_win/anim.obj
/src/eduke32/source/obj_win/animlib.obj
/src/eduke32/source/obj_win/astub.obj
/src/eduke32/source/obj_win/buildres.res
/src/eduke32/source/obj_win/common.obj
/src/eduke32/source/obj_win/config.obj
/src/eduke32/source/obj_win/control.obj
/src/eduke32/source/obj_win/demo.obj
/src/eduke32/source/obj_win/file_lib.obj
/src/eduke32/source/obj_win/game.obj
/src/eduke32/source/obj_win/game_inline.obj
/src/eduke32/source/obj_win/gamedef.obj
/src/eduke32/source/obj_win/gameexec.obj
/src/eduke32/source/obj_win/gameres.res
/src/eduke32/source/obj_win/gamevars.obj
/src/eduke32/source/obj_win/global.obj
/src/eduke32/source/obj_win/grpscan.obj
/src/eduke32/source/obj_win/input.obj
/src/eduke32/source/obj_win/joystick.obj
/src/eduke32/source/obj_win/keyboard.obj
/src/eduke32/source/obj_win/m32def.obj
/src/eduke32/source/obj_win/m32exec.obj
/src/eduke32/source/obj_win/m32vars.obj
/src/eduke32/source/obj_win/mathutil.obj
/src/eduke32/source/obj_win/mdump.obj
/src/eduke32/source/obj_win/menus.obj
/src/eduke32/source/obj_win/midi.obj
/src/eduke32/source/obj_win/mouse.obj
/src/eduke32/source/obj_win/mpu401.obj
/src/eduke32/source/obj_win/music.obj
/src/eduke32/source/obj_win/namesdyn.obj
/src/eduke32/source/obj_win/net.obj
/src/eduke32/source/obj_win/osdcmds.obj
/src/eduke32/source/obj_win/osdfuncs.obj
/src/eduke32/source/obj_win/player.obj
/src/eduke32/source/obj_win/premap.obj
/src/eduke32/source/obj_win/rts.obj
/src/eduke32/source/obj_win/savegame.obj
/src/eduke32/source/obj_win/scriplib.obj
/src/eduke32/source/obj_win/sector.obj
/src/eduke32/source/obj_win/sector_inline.obj
/src/eduke32/source/obj_win/sounds.obj
/src/eduke32/source/obj_win/sounds_mapster32.obj
/src/eduke32/source/obj_win/soundsdyn.obj
/src/eduke32/source/obj_win/startwin.game.obj
/src/eduke32/source/obj_win/winbits.obj
/src/eduke32/vc100.pdb
*.GRP
grpfiles.cache

*.suo
bin
obj

/src/edukejs/edukejs/eduke.js

/src/edukejs/edukejs.sln.DotSettings.user
